MOODLE_BASE_URL=https://domain.example/m
MOODLE_USERNAME=username
MOODLE_PASSWORD=password
MOODLE_SERVICE=moodle_mobile_app

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=itmo

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_BROKER_DB=0
REDIS_PASSWORD=redis

PROJECT_SITE=http://localhost:8443

OAUTH_SERVER_NAME=OAuth Login
OAUTH_SERVER_URL=https://example-server.com/auth
OAUTH_SERVER_TOKEN_URL=https://example-server.com/token
OAUTH_SERVER_INFO_URL=https://example-server.com/userinfo
OAUTH_CLIENT_ID=xxxxxx-xxxxxxx-xxxxxxx-xxxxxxx
OAUTH_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxx
OAUTH_CLIENT_SCOPE='["openid", "profile", "email"]'